<!doctype html>
<html lang="en" ng-app="kman">
<head>
    <meta charset="utf-8">
    <meta property="wb:webmaster" content="20367955236e84bd" />
    <meta property="qc:admins" content="07210672516236375" />
    <meta name="description" content="KMAN Stack (Koa, MongoDB, Angular.js, Node.js) - A real-time full-stack JavaScript Web development framework.">
    <title ng-bind="common.title">KMAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">

    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/src/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(client/.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/app.css">
    <!-- endbuild -->
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="kman-name">KMAN</div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-flag"></span>
                            Notifications
                            <span class="badge" ng-bind="common.user.notifications.length"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="notification in common.user.notifications">
                                <a ng-href="/notifications/{{notification.id}}">{{notification.title}}</a> {{notification.message}}
                            </li>
                            <li ng-if="!common.user.notifications" class="dropdown-header">No new notifications</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Messages
                            <span class="badge" ng-bind="common.user.messages.length"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="message in common.user.messages">
                                <a ng-href="/messages/{{message.id}}">{{message.title}}</a> {{message.message}}
                            </li>
                            <li ng-if="!common.user.messages" class="dropdown-header">No unread messages</li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-envelope"></span>Message Archive</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form ng-submit="common.search()" class="navbar-form navbar-left hidden-xs hidden-sm">
                    <div class="form-group">
                        <input name="q" type="text" ng-model="common.searchQuery" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="{{common.user.avatar}}" alt="">
                            <i class="online-indicator" ng-style="common.onlineIndicatorStyle"></i>
                            <span ng-bind="common.user.name"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="common.logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked sidenav">
                    <li ng-class="common.active.home">
                        <a href="/">
                            <span class="glyphicon glyphicon-home"></span>Home</a>
                    </li>
                    <li ng-class="common.active.profile">
                        <a href="/profile">
                            <span class="glyphicon glyphicon-user"></span>Profile</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-7" ui-view></div>

            <div class="col-md-3"></div>
        </div>
        <hr>
        <footer>
            <p>
                KMAN &copy; Jeremial Lau (MIT License) &middot;
                <a type="button" href="https://github.com/jeremial/kman" class="btn btn-success">
                    <strong>View on GitHub</strong>
                </a>
                <a type="button" href="https://github.com/jeremial/kman/archive/master.zip" class="btn btn-primary">
                    <strong>Download</strong>
                </a>
                <button type="button" ng-click="common.clearDatabase()" class="btn btn-xs btn-warning pull-right">
                    <strong>Clear Database</strong>
                </button>
            </p>
        </footer>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <!-- build:js /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-elastic/elastic.js"></script>
    <script src="/bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="/bower_components/angular-socket-io/socket.js"></script>
    <script src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js /scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/comment.js"></script>
    <script src="/scripts/services/post.js"></script>
    <script src="/scripts/services/httpinterceptor.js"></script>
    <script src="/scripts/services/authorize.js"></script>
    <script src="/scripts/services/socket.js"></script>
    <script src="/scripts/controllers/home.js"></script>
    <script src="/scripts/controllers/profile.js"></script>
    <!-- endbuild -->
</body>

</html>