/*----------------------------------------------------------------------
/* Bootstrap overrides
/*---------------------------------------------------------------------*/

/* Top Navigation */

.navbar .brand-image {
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar .dropdown-toggle img {
  width: 23px;
  height: 23px;
  margin-top: -3px;
  margin-bottom: -2px;
}

/* Side Navigation */

.sidenav > li > a {
  padding: 5px 15px;
}

/* Make sure that we're always taking up enough space on the screen. */
/* ToDo: This shouldn't be necessary once we have all the content in place. */

html, body, .container {
  height: 85%;
}

.row {
  min-height: 100%;
}

/*----------------------------------------------------------------------
 * Common styles
 *---------------------------------------------------------------------*/

/* Typography */

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Layout */

body {
  padding-top: 70px;
}

.block {
  display: block;
}

/*----------------------------------------------------------------------
 * Widgets
 *---------------------------------------------------------------------*/

/* User online indicator */

.online-indicator {
  background-color: lightgrey;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  display: inline-block;
  margin-right: -1px;
  margin-left: 1px;
  margin-bottom: 1px;
}

.kman-name{
  font-size: 32px;
  font-weight: bold;
}

/* Layout */
 .posts li {
    border-top: solid 1px #E9E9E9;
}
.post {
    margin-top: 0;
    padding-bottom: 18px;
    padding-top: 18px;
}
.post img {
    height: 50px;
    width: 50px;
}
.post-body h5 {
    margin: 0;
}
.post-tools {
    color: grey;
    display: block;
}
.post-comments li {
    background-color: #edeff4;
    border: none;
}
.post-comments li:first-child {
    background: none;
    line-height: 5px;
}
.post-comments li:nth-child(2) {
    margin-top: 0;
}
.post-comments li:nth-child(n + 3) {
    margin-top: 1px;
}
.post-comment {
    line-height: 13px;
    padding: 5px 5px 4px 5px;
}
.post-comment img {
    height: 32px;
    width: 32px;
}
.post-comment > .pull-left {
    margin-right: 8px;
}
.post-comment .comment-box {
}
.post-comment-body textarea {
    resize: vertical;
    height: 20px;
    width: 75%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0;
    font-size: 12px;
    border-radius: 2px;
}
.post-comment-tools {
    color: gray;
    display: block;
    line-height: 16px;
    padding-top: 2px;
}
/* Message box */
 .message-box {
    background-color: #fdfdfd;
    border-radius: 7px;
}
.message-box form {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.message-box form textarea {
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 65px;
}
.message-box-tools {
    height: 31px;
}